.titlePart {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 2vh;
  padding-left: 5%;
  margin-top: 2%;
}
.direction {
  color: gray;
  font-weight: 500;
}
/* In MyOrder.module.css */

/* Table Styles */
.myOrderTable {
  width: 80%;
  height: auto;
  overflow-x: auto;
  margin: 2% auto;
}
/* Table Styles */

/* Header Styles */
.popUp {
  position: absolute;
  background: white;
  z-index: 1000; /* Ensures it appears above the table */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 2%;
}
.popUp select {
  border: none;
  outline: none;
}
