.orderBox {
  background-color: white;
  width: 35vw;
  min-height: 40vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  margin: auto;
  margin-top: 25vh;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-left: 2.5%;
  gap: 5%;
}
.orderBox div {
  padding-bottom: 1.5%;
}
.closeButton {
  width: 10%;
  height: 5%;
  position: absolute;
  font-size: 32px;
  color: grey;
  top: 7%;
  right: 2%;
  cursor: pointer;
  background-color: white;
  border: none;
}
.orderContinue {
  border: none;
  outline: none;
  width: 20%;
  height: 5vh;
  background-color: hsl(120, 100%, 25%);
  color: white;
  border: 2px solid rgb(245, 241, 241);
  border-radius: 25px;
  cursor: pointer;
  margin-left: 50%;
}
.freelancerProfile {
  width: 90%;
  min-height: 10%;
  margin-bottom: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 500;
  gap: 5%;
}
.package {
  display: flex;
  flex-direction: column;

  min-height: 30%;
  gap: 5%;
}
.package label {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-style: italic;
  color: gray;
  font-size: 0.8rem;
}
.payable {
  width: 100%;
  font-weight: 500;
  font-style: italic;
  display: flex;
  font-size: 0.8rem;
}
.mainFeatures {
  width: 100%;
  display: flex;
  font-size: 0.8rem;
  justify-content: flex-start;
  color: grey;
  font-style: italic;
}
.mainFeatures .feature {
  min-width: 30%;
  display: flex;
  flex-wrap: nowrap;
}
.bill {
  display: flex;
  flex-direction: column;
  gap: 10%;
}
.notes {
  width: 80%;
  min-height: 10%;
  margin-bottom: 5%;
  font-style: italic;
  color: gray;
}
