.titlePart {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 2vh;
  padding-left: 5%;
  margin-top: 2%;
}
.ViewGig {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  gap: 10%;
  align-items: center;
}
.direction {
  color: gray;
  font-weight: 500;
}
.gigCard {
  cursor: pointer;
  width: 30vw;
  min-height: 30vh;
  display: flex;
  gap: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  margin-top: 2%;
  margin-bottom: 2%;
}
.gigImage {
  height: 40vh;
}
.gigImage img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Ensures the image fits within the container without being cropped */
  display: block; /* Removes extra space around the image */
}
.gigTitle {
  all: unset;
  color: gray;
  font-weight: 500;
  text-align: left;
  margin-left: 2.5%;
}
.gigCategories {
  width: 100%;
  display: flex;
  color: rgb(117, 116, 116);
  gap: 0.5rem;
  font-weight: 600;
  font-size: 0.8rem;
  justify-content: flex-start;
  margin-left: 1vw;
}
.catTag {
  all: unset;
  display: inline-flex; /* Places button and close symbol inline */
  align-items: center; /* Vertically centers items */
  gap: 5px; /* Adds a small gap between button and close icon */
  padding: 4px; /* Optional: Adds a bit of padding around the content */
  border: 1px solid #f1f1f1;
  color: white; /* Optional: Add a border for visibility */
  border-radius: 4px; /* Optional: Rounded corners */
  background-color: #0f6c41; /* Optional: Background color */
  white-space: nowrap;
  cursor: pointer;
  font-size: 0.8em;
  /* Prevents wrapping of text */
}
.bottom {
  width: 95%;
  display: flex;
  justify-content: flex-end;

  padding: 2%;
}
.budget {
  color: #0f6c41;
  font-size: 1rem;
  font-weight: 700;
}
.editTag {
  display: inline-flex; /* Places button and close symbol inline */
  align-items: center; /* Vertically centers items */
  gap: 5px; /* Adds a small gap between button and close icon */
  padding: 4px; /* Optional: Adds a bit of padding around the content */
  border: 1px solid #f1f1f1;
  color: white; /* Optional: Add a border for visibility */
  border-radius: 4px; /* Optional: Rounded corners */
  background-color: #19965c; /* Optional: Background color */
  white-space: nowrap;
  cursor: pointer;
  min-width: 2vw;
  font-size: 0.8em;
}
.deleteTag {
  display: inline-flex;
  min-width: 2vw; /* Places button and close symbol inline */
  align-items: center; /* Vertically centers items */
  gap: 5px; /* Adds a small gap between button and close icon */
  padding: 4px; /* Optional: Adds a bit of padding around the content */
  border: 1px solid #f1f1f1;
  color: white; /* Optional: Add a border for visibility */
  border-radius: 4px; /* Optional: Rounded corners */
  background-color: red; /* Optional: Background color */
  white-space: nowrap;
  cursor: pointer;
  font-size: 0.8em;
}
.creator {
  width: 95%;
  display: flex;
  justify-content: space-between;
  color: black;
  font-weight: 500;
  font-size: 0.8rem;
  padding-left: 2.5%;
  padding-right: 2.5%;
}
.features {
  width: 30vw;
  min-height: 30vh; /* Initial height */
  display: flex;
  gap: 1rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 5%;
}
.basicFeatures {
  width: 100%;
  display: flex;
  gap: 1rem;

  flex-direction: column;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
}
.description {
  padding: 1%;
  font-style: italic;
  display: block;
  width: 100%; /* Ensure it stays within its parent */
  box-sizing: border-box; /* Include padding and border in width calculation */
  color: gray;
  white-space: normal;
  overflow-wrap: break-word;
  word-break: normal;
}

.featureTitle {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  font-style: italic;
  font-weight: 600;
  color: black;
  margin-left: 2%;
}
.featureList {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 2%;
  width: 100%;
}
