.chatPage {
  display: flex;
  height: 100vh;
}

.chatList {
  width: 30%;
  border-right: 1px solid #ddd;
  overflow-y: auto;
}

.chatRoom {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  color: #888;
}
.chatButton {
  color: white;
  font-weight: 400;
  width: 20%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: hsl(120, 74%, 24%);
  margin: auto;
}
