.MyGig {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;

  overflow: visible;
}
.titlePart {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 2vh;
  padding-left: 5%;
  margin-top: 2%;
}
.direction {
  color: gray;
  font-weight: 500;
}
.gigCard {
  cursor: pointer;
  width: 30vw;
  height: auto;
  display: flex;
  gap: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  min-height: 85vh;
}
.gigImage {
  height: 60%;
}
.gigImage img {
  height: 100%;
  width: 100%;
}
.gigTitle {
  all: unset;
  color: gray;
  font-weight: 500;
  text-align: left;
  margin-left: 2.5%;
}
.gigCategories {
  width: 100%;
  display: flex;
  color: rgb(117, 116, 116);
  gap: 0.5rem;
  font-weight: 600;
  font-size: 0.8rem;
  justify-content: flex-start;
  margin-left: 1vw;
}
.catTag {
  all: unset;
  display: inline-flex; /* Places button and close symbol inline */
  align-items: center; /* Vertically centers items */
  gap: 5px; /* Adds a small gap between button and close icon */
  padding: 4px; /* Optional: Adds a bit of padding around the content */
  border: 1px solid #f1f1f1;
  color: white; /* Optional: Add a border for visibility */
  border-radius: 4px; /* Optional: Rounded corners */
  background-color: #0f6c41; /* Optional: Background color */
  white-space: nowrap;
  cursor: pointer;
  font-size: 0.8em;
  /* Prevents wrapping of text */
}
.bottom {
  width: 95%;
  display: flex;
  justify-content: space-between;

  padding: 2%;
}
.budget {
  color: #0f6c41;
  font-size: 1rem;
  font-weight: 700;
}
.editTag {
  display: inline-flex; /* Places button and close symbol inline */
  align-items: center; /* Vertically centers items */
  gap: 5px; /* Adds a small gap between button and close icon */
  padding: 4px; /* Optional: Adds a bit of padding around the content */
  border: 1px solid #f1f1f1;
  color: white; /* Optional: Add a border for visibility */
  border-radius: 4px; /* Optional: Rounded corners */
  background-color: #19965c; /* Optional: Background color */
  white-space: nowrap;
  cursor: pointer;
  min-width: 2vw;
  font-size: 0.8em;
}
.deleteTag {
  display: inline-flex;
  min-width: 2vw; /* Places button and close symbol inline */
  align-items: center; /* Vertically centers items */
  gap: 5px; /* Adds a small gap between button and close icon */
  padding: 4px; /* Optional: Adds a bit of padding around the content */
  border: 1px solid #f1f1f1;
  color: white; /* Optional: Add a border for visibility */
  border-radius: 4px; /* Optional: Rounded corners */
  background-color: red; /* Optional: Background color */
  white-space: nowrap;
  cursor: pointer;
  font-size: 0.8em;
}
.features {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 5%;
  color: rgb(67, 66, 66);
  font-style: italic;
}
.suggestedCategories {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
