.reviewsSection {
  padding: 20px;
  max-width: 800px;
  margin-left: 2%;
}

.heading {
  color: gray;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: left;
}

.reviewCard {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background: #fff;
  padding: 20px;
  margin-bottom: 20px;
  transition: transform 0.3s ease;
}

.reviewCard:hover {
  transform: scale(1.02);
}

.reviewHeader {
  display: flex;
  align-items: center;
  gap: 10px;
}

.location {
  color: gray;
  font-size: 14px;
}

.repeatClient {
  color: #007bff;
  font-size: 14px;
}

.rating {
  display: flex;
  align-items: center;
  gap: 2px;
  font-size: 0.8rem;
  font-weight: 500;
}

.star {
  color: #ffd700; /* Gold-like yellow */
  font-size: 0.8rem;
  line-height: 1;
  margin-right: 2px;
  border: none;
}

.timeAgo {
  color: #888;
  font-size: 12px;
  margin-bottom: 10px;
}

.feedback {
  color: #333;
  margin-bottom: 10px;
  font-weight: 400;
}

.reviewDetails {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 10px;
  color: #555;
}

.reviewImage {
  width: 100px;
  height: 60px;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 10px;
}

.responseSection {
  display: flex;
  gap: 10px;
}

.helpfulButton,
.notHelpfulButton {
  padding: 5px 10px;
  border: 1px solid #e0e0e0;
  background: #f9f9f9;
  cursor: pointer;
  transition: background 0.3s ease;
}

.helpfulButton:hover,
.notHelpfulButton:hover {
  background: #e0e0e0;
}
.viewAllButton {
  display: block;
  margin: 20px 0;
  padding: 10px 20px;
  border: none;
  background-color: white;
  color: #333;
  border-color: #333;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease;
  align-self: left;
}

.viewAllButton:hover {
  background-color: #555;
}
