.about {
  width: 60vw;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
  gap: 3.5vh;
  margin: 2.5vw;
}
.intro {
  font-size: 2rem;
  font-weight: 600;
  color: rgb(23, 23, 23);
}
.desc {
  text-align: left;
}

.options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5rem;
  width: 40%;
  height: auto;
}
.createPosting {
  width: 100%;
  height: 8vh;
  border: 2px solid hsl(120, 100%, 25%);
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(120, 100%, 25%);
  cursor: pointer;
}
.viewGigs {
  width: 100%;
  height: 8vh;
  border: 2px solid hsl(120, 100%, 25%);
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(120, 100%, 25%);
  cursor: pointer;
}
