.featured {
  height: 70vh;
  display: flex;
  justify-content: center;
  background-color: #013914;

  color: white;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2vw;
}
.left {
  width: 100%;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.right {
  width: 50%;
  height: 50%;
}
.search {
  width: 95%;
  background-color: white;
  margin: 0 auto;
  border-radius: 5px;
  display: flex;
}
.searchInput {
  width: 100%;
  height: 70%;
  display: flex;

  justify-content: space-between;
  padding: 0.5rem;
}
.searchInput input {
  width: 80%;
  height: 100%;
  border: none;
  outline: none;
  display: flex;

  justify-content: center;
  padding: 0;
  align-items: center;
}
.search button {
  background-color: #1dbf73;
  height: 100%;
  border: none;
  outline: none;
  width: 30%;
  border-radius: 5px;
  margin-top: 0;
}
.popular {
  width: 95%;
  display: flex;
  justify-content: space-around;
  margin-top: 20%;
  gap: 2%;
  padding: 2%;
  font-size: 70%;
}
.popular button {
  background-color: #013914;
  color: white;
  border: 1px solid white;
  font-size: 10px;
  height: 4vh;
  border-radius: 2rem;
  padding: 2%;
}
.title {
  display: none;
}
@media (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: row-reverse;
    padding: 5%;
    gap: 1vw;
  }
  .container .right {
    width: 40%;
  }
  .container .left {
    display: flex;
    flex-direction: column;
    width: 80%;
  }

  .title {
    display: block;
    font-size: 100%;
    margin-bottom: 10%;
  }
  .featured {
    height: 50vh;
    width: 100%;
  }
  .popular {
    width: 95%;
    display: flex;
    justify-content: space-around;

    margin-top: 10%;
    gap: 2%;
  }
  .popular button {
    background-color: #013914;
    color: white;
    border: 1px solid white;
    font-size: 95%;
    border-radius: 2rem;

    padding: 2%;
  }
  .search {
    margin-bottom: 0;
  }
}
@media (min-width: 1280px) {
  .container {
    display: flex;
    flex-direction: row-reverse;
    padding: 2.5%;
    gap: 1vw;
  }
  .container .right {
    width: 40%;
  }
  .container .left {
    display: flex;
    flex-direction: column;

    width: 80%;
  }
  .title {
    display: block;
    font-size: 1.5rem;
  }
  .featured {
    height: 70vh;
    width: 100%;
  }
  .popular {
    width: 80%;
    display: flex;
    margin-left: 2rem;
    justify-content: space-around;
    font-size: 1rem;
  }
  .popular button {
    background-color: #013914;
    color: white;
    border: 1.5px solid white;
    width: 30%;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3%;
    font-size: 0.8rem;
    margin-left: 2.5%;
  }
  .search {
    margin-bottom: 0;
  }
}
