.catcard {
  position: relative; /* Set the container to relative to position the title inside */
  width: 70vw;
  height: 30vh; /* Set a fixed height for the card */
  overflow: hidden; /* Ensure nothing overflows the card */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: auto;
  margin-top: 5vh;
  z-index: -2;
  display: flex; /* Use flexbox to center the content */
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
}

.catcard:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.Image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Use cover to fill the card area */
}

/* Title overlay */
.title {
  position: absolute; /* Overlay the title on top of the image */
  top: 20px; /* Adjust the position of the title above the bottom of the image */
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.5rem;
  color: white; /* White text for contrast */
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Semi-transparent background for readability */
  padding: 10px 20px;
  border-radius: 2.5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.title:hover {
  background-color: rgba(0, 0, 0, 0.8); /* Darken background on hover */
}

@media (min-width: 1076px) {
  .catcard {
    width: 20vw;
    margin-left: 0 0;
  }
}
