.chatRoom {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Ensures full height */
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

.messagesContainer {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  box-sizing: border-box;
  margin-bottom: 60px; /* Space for input container */
}

.message {
  min-width: 30%;
  max-width: 70%;
  padding: 0.5rem;
  border-radius: 8px;
  margin: 4px 0;
  word-wrap: break-word;
  font-size: 0.9rem;
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.sent {
  background-color: #00796b;
  color: white;
  align-self: flex-end;
  text-align: right;
}

.received {
  background-color: #fff;
  color: #333;
  align-self: flex-start;
  border: 1px solid #f1f1f1;
}

.inputContainer {
  display: flex;
  padding: 0.5rem;
  background-color: #fff;
  border-top: 1px solid #ddd;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
}

.inputContainer input {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.inputContainer button {
  margin-left: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: #00796b;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.inputContainer button:hover {
  background-color: #004d40;
}

.sentAt {
  font-size: 0.6rem;
  color: #ccc;
  margin-top: 2px;
  display: block;
  text-align: right;
  align-self: flex-end;
}

.tick {
  font-size: 0.6rem;
  margin-left: 4px;
  color: white;
  align-self: flex-end;
}

.header {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #00796b;
  color: #fff;
  border-bottom: 1px solid #ddd;
}

.backButton {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
}
