.footer {
  display: flex;
  justify-content: center;
  color: #666;
  margin-top: 10%;
  margin-left: 2%;
}

.footer img {
  width: 2.5vw;
  height: 2.5vw;
}

.footer .container {
  width: 100vw;
}

.footer .container .top {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer .container .top .item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2vh;
}

.footer .container .top .item h2 {
  font-size: 16px;
  color: #555;
}

.footer .container .top .item span {
  font-weight: 300;
}

.footer .container hr {
  margin: 50px 0px;
  height: 0;
  width: 100vw;
  border: 1px solid #ebe9e9;
}

.footer .container .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer .container .bottom .left {
  width: max-content;
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer .container .bottom .left span {
  font-size: 13px;
  white-space: nowrap;
}

.footer .container .bottom .right {
  width: max-content;
  display: flex;
  align-items: center;
  gap: 30px;
}

.footer .container .bottom .right .social {
  display: flex;
  gap: 20px;
}

.footer .container .bottom .right .link {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media (min-width: 1076px) {
  .footer .container .top {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .footer .container .bottom img {
    display: flex;
    align-items: center;

    width: 30px;
    height: 30px;
  }
  .footer .container .bottom .right {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .footer .container .bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 45%;
  }
}
