.box {
  background-color: white;
  width: 50vw;
  height: 60vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  margin: auto;
  margin-top: 25vh;

  border-radius: 15px;
  display: flex;
  flex-direction: column;

  position: relative;
}

.box h3 {
  font-weight: 600;
  margin-left: 9%;
}

.continue {
  border: none;
  outline: none;
  width: 10vw;
  height: 7vh;
  background-color: whitesmoke;
  color: hsl(120, 100%, 25%);
  border: 2px solid rgb(180, 174, 174);
  border-radius: 25px;
  cursor: pointer;
  position: absolute;
  right: 3.6vw;
  margin-top: 2.5vh;
  bottom: 1.5vh;
}

.closeButton {
  width: 10%;
  height: 5%;
  position: absolute;
  font-size: 32px;
  color: grey;
  top: 7%;
  right: 2%;
  cursor: pointer;
  background-color: white;
  border: none;
}

.continue {
  background-color: #1dbf73;
  color: white;
  font-weight: 500;
}

.continue:disabled {
  background-color: #ccc; /* Disabled state background color */
  color: #666; /* Optional: change text color for disabled state */
  cursor: not-allowed;
  opacity: 0.6; /* Optional: reduce opacity to indicate it's disabled */
}
.search {
  width: 70%;
  background-color: white;
  margin-left: 9%;
  border-radius: 2.5px;
  height: 10%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  display: flex;
}
.searchInput {
  width: 100%;
  height: 70%;
  display: flex;

  justify-content: space-between;
}
.searchInput input {
  width: 80%;
  height: 100%;
  border: none;
  outline: none;
  display: flex;

  justify-content: center;
  padding: 0.5%;
  align-items: center;
}
.search button {
  background-color: #1dbf73;
  height: 100%;
  border: none;
  outline: none;
  width: 30%;
  border-radius: 2.5px;
  cursor: pointer;
  margin-top: 0;
}
.scrollableContainer {
  min-height: 20%;
  overflow-y: scroll;
  padding: 10px;
  width: 50%;
  margin: 1.5rem;
  margin-left: 1.5rem;
}
.checkboxItem {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  margin-left: 6%;
}
.skillBox {
  width: 70%;
  min-height: 20%; /* Ensures a minimum height */
  height: auto; /* Allows height to grow based on content */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  margin-left: 9%;
  padding: 1%;
  margin-top: 3.5%;
  border-radius: 15px;
}
.skillButton {
  background-color: #1dbf73;
  color: white;
  border: 1px solid white;
  height: 30%;
  cursor: pointer;
  width: auto;
  border-radius: 2rem;
}
.skillContainer {
  display: inline-flex; /* Places button and close symbol inline */
  align-items: center; /* Vertically centers items */
  gap: 5px; /* Adds a small gap between button and close icon */
  padding: 4px; /* Optional: Adds a bit of padding around the content */
  border: 1px solid #ccc; /* Optional: Add a border for visibility */
  border-radius: 4px; /* Optional: Rounded corners */
  background-color: #1dbf73; /* Optional: Background color */
  white-space: nowrap;
  cursor: pointer;
  margin: 2%; /* Prevents wrapping of text */
}
.skillContainer button {
  background: none;
  outline: none;
  border: none;
}
.closeIcon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}
.suggestBox {
  width: 80%;
  height: 20%;
  display: flex;
  flex-wrap: wrap;

  padding-left: 2%;

  margin: 2%;
}
@media (max-width: 768px) {
  .box {
    width: 60vw;
    height: 50vh;
    margin-top: 20vh;
  }
  .closeButton {
    width: 1%;
    height: 1%;
    position: absolute;
    font-size: 32px;
    color: grey;
    top: 2%;
    right: 10%;
    cursor: pointer;
    background-color: white;
    border: none;
  }
  .uploadBox {
    height: 60%;
    font-size: 0.8rem;
  }
  .link {
    font-size: 0.8rem;
  }
  .box h3 {
    font-size: 0.7rem;
  }

  .search {
    width: 85%;
    margin: auto;
    margin-top: 2%;
    height: 8%;
    margin-bottom: 0;
  }
  .search img {
    width: 25px;
    height: 25px;
  }
  .searchInput input {
    font-size: 0.7rem;
  }
  .searchInput button {
    font-size: 0.6rem;
  }
  .skillBox {
    width: 80%;
    min-height: 30%; /* Ensures a minimum height */
    height: auto; /* Allows height to grow based on content */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    padding: 1%;
    border-radius: 15px;
    margin-top: 10%;
  }
  .suggestBox {
    margin-top: 5%;
  }
  .skillContainer {
    display: inline-flex; /* Places button and close symbol inline */
    align-items: center; /* Vertically centers items */
    gap: 2%; /* Adds a small gap between button and close icon */
    border: 1px solid #ccc; /* Optional: Add a border for visibility */
    border-radius: 2.5vw; /* Optional: Rounded corners */
    background-color: #1dbf73; /* Optional: Background color */
    white-space: nowrap;
    cursor: pointer;
    margin: 2%; /* Prevents wrapping of text */
  }
  .skillContainer button {
    background: none;
    font-size: 0.8rem;
    outline: none;
    border: none;
  }
  .closeIcon {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .continue {
    border: none;
    outline: none;
    width: 40%;
    height: 5vh;
    background-color: whitesmoke;
    color: hsl(120, 100%, 25%);
    border: 2px solid rgb(180, 174, 174);
    border-radius: 25px;
    cursor: pointer;
    position: absolute;
    right: 3.6vw;
    margin-top: 1vh;
    font-size: 0.6rem;
    bottom: 1.5vh;
  }
}
