.SignUp {
  width: 25vw;
  height: auto; /* Changed to auto */
  margin: auto;
  margin-top: 1rem;
  background-color: white;

  /* Adding a white shadow effect to the entire SignUp component */
  box-shadow: 0px 4px 12px rgba(255, 255, 255, 0.8),
    0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

.SignUp form {
  height: auto; /* Changed to auto */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.SignUp form input {
  width: 20vw;
  height: 4vh;
  border: 1px solid gray;
  border-radius: 8px;
  padding: 0.5rem;
  outline: none;
}
.SignUp form input:focus {
  border: 2px solid #0b4b21;
}
.button {
  width: 21.5vw;
  height: 6vh;
  border: none;
  outline: none;
  padding: 0.5rem;
  border-radius: 8px;
  background-color: #0b4b21;
  color: white;
  cursor: pointer;
}
.or {
  display: flex;
  align-items: center;
  width: 100%; /* Full width */
  margin: 20px 0; /* Spacing around the line */
}

.or::before,
.or::after {
  content: ""; /* Empty content for the pseudo-elements */
  flex: 1; /* Allow the line to take available space */
  border-bottom: 1px solid #ccc; /* Grey line */
  margin: 0 10px; /* Spacing between line and text */
}

.or-text {
  font-weight: bold; /* Bold text */
  color: #555; /* Optional: Change text color */
}
.about {
  width: 60vw;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
  gap: 3.5vh;
  margin: 2.5vw;
}
.intro {
  font-size: 2rem;
  font-weight: 600;
  color: rgb(23, 23, 23);
}
.desc {
  text-align: left;
}

.resume {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5rem;
  width: 40%;
  height: auto;
}
.chooseGreen {
  width: 100%;
  height: 8vh;
  border: 2px solid hsl(120, 100%, 25%);
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(120, 100%, 25%);
  cursor: pointer;
}
.about .back {
  border: none;
  outline: none;
  width: 10vw;
  height: 7vh;
  background-color: whitesmoke;
  color: hsl(120, 100%, 25%);
  border: 2px solid rgb(180, 174, 174);
  border-radius: 25px;
  cursor: pointer;
}
.continue {
  border: none;
  outline: none;
  width: 10vw;
  height: 7vh;
  background-color: hsl(120, 100%, 25%);
  color: white;
  border: 2px solid rgb(245, 241, 241);
  border-radius: 25px;
  position: absolute;
  left: 30%;
  bottom: 1.5%;
  cursor: pointer;
}
.skip {
  border: none;
  outline: none;
  width: 10vw;
  height: 7vh;
  background-color: whitesmoke;
  color: hsl(120, 100%, 25%);
  border: 2px solid rgb(180, 174, 174);
  border-radius: 25px;
  cursor: pointer;
}
